<%- include("header") -%>


<div class="d-flex justify-content-center">
  <div id="myForm" class=" dvv">
    <form  method="post">
      <label for="cityName">City Name :</label>
      <input data-geocomplete="city" class="form-control" id="cityName" type="text" name="cityName" placeholder="city" >
      <button style="margin-top: 10px;" class="btn btn-primary" type="submit" name="submit">Enter</button>
    </form>




  </div>
</div>




<!-- <div class="row g-3">
  <div class="col-sm-7">
    <input type="text" class="form-control" placeholder="City" aria-label="City">
  </div>

</div> -->

  <%- include("footer") -%>
