<%- include("header") -%>







<div class="d-flex justify-content-center">
  <div id="myForm" class=" dvv">
    <form action="/" method="post">
      <label for="cityName">City Name :</label>
      <input id="ss" data-geocomplete="city" class="form-control" id="cityName" type="text" name="cityName" placeholder="city" >
      <button style="margin-top: 10px;" class="btn btn-primary" type="submit" name="submit">Enter</button>
    </form>




  </div>
</div>




<script type="text/javascript">
  function activatePlacesSearch(){
  var input =  document.getElementById('ss');

      var autocomplete = new google.maps.places.Autocomplete(input);
  }
</script>
  <%- include("footer") -%>
